*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
app/debug/output.json
app/release/output.json
app/stag/debug/output.json
app/stag/debug/output-metadata.json
app/prod/release/output.json
app/prod/release/output-metadata.json
*.apk
*.aab
gradle/
app/build/
